<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{examples/layout :: layout (~{::body})}">

<body>
    <div th:if="${not #lists.isEmpty(owners)}">
        <h2>Owners</h2>

        <table id="owners" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Telephone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="owner : ${owners}">
                    <td th:text="${owner.firstName + ' ' + owner.lastName}" />
                    <td th:text="${owner.address}" />
                    <td th:text="${owner.city}" />
                    <td th:text="${owner.telephone}" />
                </tr>
            </tbody>
        </table>
    </div>

    <h1 th:if="${#lists.isEmpty(owners)}">
        No data
    </h1>
</body>

</html>