<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <style>
    .form-group > input {
      margin-bottom: 10px;
    }

    .form-group > button {
      margin-top: 10px;
    }
  </style>
</head>

<body>

  <h2>Create owner</h2>

  <form th:object="${owner}" method="post">
    <div class="form-`group">
      <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <button 
        th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'" 
        type="submit" th:text="${text}">
        Add Owner
      </button>
    </div>
  </form>
</body>

</html>