<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

  <h2>Create owner</h2>

  <form th:object="${owner}" class="form-horizontal" method="post">
    <div class="form-group">
      <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
      <input th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <button
        class="btn-default" 
        th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'" 
        type="submit" th:text="${text}">
        Add Owner
      </button>
    </div>
  </form>
</body>

</html>